body {
    background-color: #333333;
	font-family: bahnschrift;
	font-size: 30px;
	margin: 10px;
}

.overview {
    background-color: #333333;
	color: white;
}

a{
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ed3330;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}


th {
	text-transform: uppercase;
	font-size: 40px;
	background-color: #ed3330;
}

th, td {
	padding: 20px;

}

table {
	    width:100%;
	padding: 10px;
    text-align:center;
    vertical-align:middle;
    z-index: 9999;
	border-radius: 5px;
	*border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
	float: left;
}

video {
	width: 80%;
}

tr {
	background-color: #E0E0E0;
}

td:first-child {
	font-weight: bold;

}

tr:nth-child(even) {
	background-color: #BFB8B8;
}

tr:hover {
	background-color: white;
}

a {
	text-decoration: none;
}

div {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#back {
	background-color: Aquamarine;
	text-align: center;
	width: 200px;
	margin-left: 10px;
	border-radius: 0px;
	clear: both;
	margin-top: 30px;
	float: right;
 }

 h1 {
	color: white;
 }


h1.overview {
    text-align: center;
 }


 .sub_a {

    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 10px;
    border-radius: 5px;
    display: block;
    border: none;
    transition: all 0.4s ease 0s;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
 }

 .sub_a:hover {

    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #c92f2c;
    padding: 10px;
    border-radius: 5px;
    display: block;
    border: none;
    transition: all 0.4s ease 0s;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
 }